<div class="containter-fluid">
    <div class="row my-5 mx-3" id="casas">
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 col-sm-12 my-4">
            <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#modalCasa">
                Agregar Casa
            </button>
        </div>
    </div>
</div>
<div class="modal fade" id="modalCasa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar nueva casa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" required id="nombre-casa"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" id="agregarCasa">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>

<script>
    $(document).ready(function(){
        var usuario = JSON.parse(Cookies.get('user'));
        if(usuario.tipo != "Arrendador")
            router.navigate('cliente');

        $.ajax({
            type:'GET',
            url: 'http://localhost:5000/casas?_token=' + Cookies.get('_token'),
            data:{},
            contentType: 'application/json',
            dataType: 'json',
            success: function(response){
                $("#casas").html('');
                response.forEach(casa => {
                    var casa_div = $("<div></div>");
                    var body = $("<div></div>");
                    $(body).addClass("card-body")
                        .append('<h5 class=card-title>' + casa.nombre + '</h5>');
                    $(body).append("<br/>Interesados: </br>");
                    casa.interesados.forEach(interesado =>{
                        $(body).append("</br>");
                        $(body).append("  - " + interesado.nombre);
                    });
                    $(casa_div).addClass("col-md-4 col-sm-12")
                        .addClass("card")
                        .append(body);

                    $("#casas").append(casa_div);
                });
            }

        });

        $("#agregarCasa").click(function(ev){
            ev.preventDefault();

            var datos = {
                nombre: $("#nombre-casa").val().trim(),
                _token: Cookies.get('_token'),
            }
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/casas',
                data: JSON.stringify(datos),
                dataType: 'json',
                contentType: 'application/json',
                success: function(response){
                    Swal.fire({
                        title: 'Aviso',
                        text: response.message,
                        icon: response.status
                    }).then((result)=>{
                        $('#modalCasa').modal('hide');
                        location.reload();
                    })
                }

            })

        })
    })
</script>