<div class="containter-fluid">
    <div class="row my-5 mx-3" id="casas">
    </div>
</div>
<script>
    $(document).ready(function(){
        var usuario = JSON.parse(Cookies.get('user'));
        if(usuario.tipo != "Cliente")
            router.navigate('arrendador');

        $.ajax({
            type:'GET',
            url: 'http://localhost:5000/casas?_token=' + Cookies.get('_token'),
            data:{},
            contentType: 'application/json',
            dataType: 'json',
            success: function(response){
                $("#casas").html('');
                response.forEach(casa => {
                    var casa_div = $("<div></div>");
                    var body = $("<div></div>");
                    var boton = $('<button></button>');
                    $(boton).addClass("btn btn-primary")
                        .attr('data-id', casa.id)
                        .addClass('interesar');
                    $(boton).prop('disabled', casa.interesado);
                    
                    $(boton).html(casa.interesado ? 'Ya estás interesado' : 'Me interesa');

                    $(body).addClass("card-body")
                        .append('<h5 class=card-title>' + casa.nombre + '</h5>');
                        
                    $(body).append(boton);

                    $(body).append("<br/>Compartes intereses con: </br>");
                    if(casa.similares)
                    {
                        casa.similares.forEach(similar =>{
                            $(body).append("</br>");
                            $(body).append("  - " + similar.nombre);
                        });
                    }
                    
                    
                    $(casa_div).addClass("col-md-4 col-sm-12")
                        .addClass("card")
                        .append(body);

                    $("#casas").append(casa_div);
                });
            }

        });

        $(document).on('click', '.interesar', function(ev){
            ev.preventDefault();

            var datos = {
                casa_id: this.dataset.id,
                _token: Cookies.get('_token'),
            }
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5000/casas-interes',
                data: JSON.stringify(datos),
                dataType: 'json',
                contentType: 'application/json',
                success: function(response){
                    Swal.fire({
                        title: 'Aviso',
                        text: response.message,
                        icon: response.status
                    }).then((result)=>{
                        $('#modalCasa').modal('hide');
                        location.reload();
                    })
                }

            })

        })
    })
</script>