<div class="containter">
    <div class="row" id="casas">
    </div>
    
</div>

<script>
    $(document).ready(function(){
            $.ajax({
                type:'GET',
                url: 'http://localhost:5000',
                data:{},
                contentType: 'application/json',
                dataType: 'json',
                success: function(response){
                    response.forEach(casa => {
                        var casa = $("<div></div>");
                        $(casa).addClass("col-md-4 col-sm-12")
                            .addClass("card");

                        $("#casas").append(casa);
                    });
                }

            })
        })
</script>