<div class="container my-5">
    <form id="formulario-login">
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-12">
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input class="form-control" id="correo" required type="email" />
                </div>
            </div>
            <div class="col-md-4 offset-md-4 col-sm-12">
                <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control" id="password" required type="password" />
                </div>
            </div>
            <div class="col-md-4 offset-md-4 col-sm-12 my-4">
                <button type="submit" class="btn btn-block btn-primary">Iniciar Sesión</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).on('submit', '#formulario-login', function(ev){
        ev.preventDefault();
        var datos = {
            correo: $("#correo").val().trim(),
            password: $("#password").val().trim(),
        };
        $.ajax({
            type: 'POST',
            url: 'http://localhost:5000/login',
            data: JSON.stringify(datos),
            dataType: 'json',
            contentType: 'application/json',
            success: function(response){
                if(response._token)
                {
                    Cookies.set('_token', response._token);
                    Cookies.set('user', JSON.stringify(response.user));
                    if(response.user.tipo == 'Arrendador')
                        router.navigate('arrendador');
                    else
                        router.navigate('cliente');
                    location.reload(true);
                }
                else{
                    Swal.fire({
                        title: 'Aviso',
                        text: response.message,
                        icon: response.status
                    });
                }
            }
        })
    })
</script>