<div class="container my-5">
    <form id="formulario-registro">
        <div class="row">
            <div class="col-md-4 offset-md-4 col-sm-12">
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" id="nombre" required type="text" />
                </div>
            </div>
            <div class="col-md-4 offset-md-4 col-sm-12">
                <div class="form-group">
                    <label>Correo</label>
                    <input class="form-control" id="correo" required type="email" />
                </div>
            </div>
            <div class="col-md-4 offset-md-4 col-sm-12">
                <div class="form-group">
                    <label>Tipo Usuario</label>
                    <select class="form-control" required id="tipo_usuario">
                        <option></option>
                        <option>Arrendador</option>
                        <option>Cliente</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 offset-md-4 col-sm-12">
                <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control" required type="password" id="password"/>
                </div>
            </div>
            <div class="col-md-4 offset-md-4 col-sm-12 my-4">
                <button type="submit" class="btn btn-block btn-primary">Registrar</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).on('submit', '#formulario-registro', function(ev){
        ev.preventDefault();
        var datos = {
            nombre: $("#nombre").val().trim(),
            correo: $("#correo").val().trim(),
            password: $("#password").val().trim(),
            tipo_usuario: $("#tipo_usuario").val().trim()
        };
        $.ajax({
            type: 'POST',
            url: 'http://localhost:5000/usuarios',
            data: JSON.stringify(datos),
            dataType: 'json',
            contentType: 'application/json',
            success: function(response){
                Swal.fire({
                    title: 'Aviso',
                    text: response.message,
                    icon: response.status,
                });
                router.navigate('login');
            }
        })
    })
</script>